.creation-label {
  margin-top: 0.5rem;
}

.location-suggestions {
  list-style-type: none;
  text-align: left;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.current-location-wrapper {
  margin-top: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.current-location-wrapper i {
  margin-left: 1%;
}
