.edit-user{
  display:flex;
  flex-flow:column wrap;
  justify-content:center;
  align-items:center;
  margin: 5px 15px;
}


.inputs-edit {
  height: 34px; 
  width:100%;
  border: 1px solid transparent;
  padding: 0px 12px;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 6px;
  font-size: 14px;
  outline: none;
  margin-bottom:5px;
}

.submit-button {
  margin-top: 5%;
  width: 191px;
  height: 47px;
  background: $two;
  color: white;
  border: none;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  font-size: 1.3rem;
  
}

.delete-button{
  margin-top: 5%;
  width: 191px;
  height: 47px;
  background: #ff0000;
  color: white;
  border: none;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  font-size: 1.3rem;
}

.inputs-edit-file::-webkit-file-upload-button {
  visibility: hidden;
}

.inputs-edit-file{
  background-color: $two;
  text-align:center;
  border-radius: 3px;
  padding: 5px 5px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 10pt;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  margin-bottom :15px;
  width:100%;

}

.inputs-edit-file:hover{
  border:solid white 1px;
  cursor:pointer;
}

@media only screen and (min-width: 1444px) {
 .edit-user{
   width : 750px;
 }
}

@media only screen and (min-width:1280px) and (max-width:1443px){
  .edit-user{
    width : 650px;
  }
}

@media only screen and (min-width : 1024px) and (max-width : 1279px){
  .edit-user{
    width : 600px;
  }
}

@media only screen and (min-width : 768px) and (max-width : 1023px){
  .edit-user{
    width : 550px;
  }
}

@media only screen and (min-width : 550px) and (max-width: 767px){
  .edit-user{
    width : 450px;
  }
}

@media only screen and (min-width : 414px) and (max-width: 549px){
  .mobile-container-creation{
    padding-top: 20%;
  }
  .edit-user{
    width : 390px;
  }
}

@media only screen and (min-width : 375px ) and (max-width : 413px){
 
}

@media only screen and (min-width : 360px ) and (max-width : 374px){

}

@media only screen and (min-width : 320px ) and (max-width : 359px){

}

