@media only screen 
and (max-width : 414px){
  .mobile-background{
    position: absolute;
width: 373px;
height: 418px;
left: 21px;
top: 232px;
  }
  .button#Confirm{
    margin-left:0;
  }
  .mobile-background_signup{
    position: absolute;
width: 373px;
height: 498px;
left: 21px;
top: 182px;
  }
  .inputs{
    width: 255px;
  height: 34px;
  }
  .button{
    margin-left:30px;
    margin-bottom : 10px;
  }

  .button#create{
    margin-left: 0;
  }

  #Signup{
    margin-left:30px;
    margin-bottom:10px;
  }
  .link{
    margin-left : 35px;
  }

  .meetup-table{
    table-layout: fixed;
    width:380px;
    font-size : 1em;
    text-align:center;
  }

  .mobile_meetup {
    background: rgba(107, 125, 179, 0.5);
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
    color: white;
    position: absolute;
    left: 16%;
    top: 70%;
    padding: 3% 3%;
    padding-top: 1.5%;
  }

}


@media only screen 
and (max-width : 375px){
  .mobile-background{
    position: absolute;
width: 333px;
height: 388px;
left: 21px;
top: 232px;
  }
  .button{
    margin-left:28px;
    margin-bottom : 15px;
  }
  .mobile-background_signup{
    position: absolute;
width: 353px;
height: 428px;
left: 11px;
top: 182px;
  }

  

  .meetup-table{
    table-layout: fixed;
    width:350px;
    font-size : 1em;
    text-align:center;
  }

  .mobile_meetup {
    background: rgba(107, 125, 179, 0.5);
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
    color: white;
    position: absolute;
    left: 13%;
    top: 67%;
    padding: 3% 3%;
    padding-top: 1.5%;
  }
  
}

@media only screen
and(max-width : 360px){
  .mobile-background{
    position: absolute;
width: 320px;
height: 388px;
left: 21px;
top: 232px;
  }
  .button{
    margin-left:28px;
    margin-bottom : 15px;
  }
  

  .meetup-table{
    table-layout: fixed;
    width:320px;
    font-size : 0.8em;
    text-align:center;
  }

  .mobile_meetup {
    background: rgba(107, 125, 179, 0.5);
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
    color: white;
    position: absolute;
    left: 11%;
    top: 65%;
    padding: 3% 3%;
    padding-top: 1.5%;
  }
  .submit-button{
    margin-left:68px;

  }
}

@media only screen 
and (max-width : 320px){
  .mobile-background{
    position: absolute;
width: 280px;
height: 360px;
left: 21px;
top: 162px;
  }
  .button{
    margin-left:32px;
  }
  .main_logo{
    height: 145px;
    width:auto;
    margin-top : 15px; 
  }
  
  .meetup-table{
    table-layout: fixed;
    width:300px;
    font-size : 0.8em;
    text-align:center;
  }
  .general-container{
    height:vh(100);
    width:vw(100);
  }

  .mobile_meetup {
    background: rgba(107, 125, 179, 0.5);
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
    color: white;
    position: absolute;
    left: 7%;
    top: 60%;
    padding: 2% 2%;
    padding-top: 1.5%;
  }

  .close_window{
    padding-top: 15px; 
  }
  .mobile-container-creation{
    padding-top:10%;
  }

  .submit-button{
    margin-left:48px;

  }

  
  

}
@media only screen 
and (max-width : 768px){
  
}
@media only screen 
and (max-width : 1024px){
  
}

@media only screen 
and (max-width : 1280px){
  
}