@media only screen 
and (max-width : 414px){
  .mobile-background{
    position: absolute;
width: 373px;
height: 418px;
left: 21px;
top: 232px;
  }
  .mobile-background_signup{
    position: absolute;
width: 373px;
height: 498px;
left: 21px;
top: 182px;
  }
  .inputs{
    width: 255px;
  height: 34px;
  }
  #Login{
    margin-left:30px;
    margin-bottom : 10px;
  }
  #Signup{
    margin-left:30px;
    margin-bottom:10px;
  }
  .link{
    margin-left : 35px;
  }

}
@media only screen 
and (max-width : 375px){
  .mobile-background{
    position: absolute;
width: 333px;
height: 388px;
left: 21px;
top: 232px;
  }
  #Login{
    margin-left:28px;
    margin-bottom : 15px;
  }
  .mobile-background_signup{
    position: absolute;
width: 353px;
height: 428px;
left: 11px;
top: 182px;
  }
  
}

@media only screen
and(max-width : 360px){
  .mobile-background{
    position: absolute;
width: 320px;
height: 388px;
left: 21px;
top: 232px;
  }
  #Login{
    margin-left:28px;
    margin-bottom : 15px;
  }
}

@media only screen 
and (max-width : 320px){
  .mobile-background{
    position: absolute;
width: 280px;
height: 360px;
left: 21px;
top: 162px;
  }
  #Login{
    margin-left:32px;
  }
  .main_logo{
    height: 145px;
    width:auto;
    margin-top : 15px; 
  }
  
}
@media only screen 
and (max-width : 768px){
  
}
@media only screen 
and (max-width : 1024px){
  
}

@media only screen 
and (max-width : 1280px){
  
}