.mobile-background_signup{

text-align : left;
display : flex;
flex-flow : column wrap;
justify-content:center;
align-items: center;
color : white;
}

.general-container{
  height:vh(100);
  background-color:$one;
  width:vw(100);
}