// --------------------
// Definition of variables
$one: #6b7db3;
$two: #6bb39a;
$three: #99b3ff;
$four: #bb99ff;
$five: #99ffff;

@function vh($quantity) {
  @return calc(var(--vh, 1vh) * #{$quantity});
  }
  
  
// ----------------------------------------
// To install Boostrap:
// 1) Run in the client folder: $ npm i bootstrap
// 2) Import bootstrap with the following line
// @import '../node_modules/bootstrap/scss/bootstrap.scss';
//
// To install Reactstrap:
// 1) Run in the client folder: $ npm i reactstrap
// 2) Go to the official documentation and take some examples: https://reactstrap.github.io/
// import { Button } from 'reactstrap';
// <Button color="danger">Danger!</Button>
// ----------------------------------------
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css?family=Karla");
@import "../src/css_styles/landing.scss";
@import "../src/css_styles/signup.scss";
@import "../src/css_styles/home.scss";
@import "../src/css_styles/map.scss";
@import "../src/css_styles/meetup.scss";
@import "../src/css_styles/edit.scss";
@import "../src/css_styles/createmeetup.scss"; // --------------------
// Style reusable for all components
* {
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: left;
}

.inputs {
  box-sizing: border-box;
  border: 1px solid transparent;
  padding: 0px 12px;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 6px;
  font-size: 14px;
  outline: none;
}

.button {
  margin-top: 5%;
  width: 191px;
  height: 47px;
  background: $two;
  color: white;
  border: none;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-size: 1.3rem;
}

.mobile-background {
  background: rgba(107, 125, 179, 0.8);
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
  text-align: left;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  color: white;
}

.password {
  text-align: right;
}
.main_logo {
  height: 165px;
  width: auto;
  margin-top: 15px;
}

.link {
  text-decoration: none;
  color: white;
  margin-left: 18px;
  margin-top: 3%;
}

.link:hover {
  text-decoration: underline;
}
//------ Original styling
.info {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  background-color: #5776e9;
  color: white;
}

.info.info-danger {
  background-color: #e73f3f;
}

// --------------------
// Style for App component
.App {
  text-align: center;

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }

  .App-header {
    background-color: $primary;
    padding: 20px;
    color: white;

    a {
      color: white;
      padding: 0 5px;
      text-decoration: unset;
    }

    a.active {
      font-weight: bold;
    }
  }

  .App-title {
    font-size: 1.5em;
  }

  .App-intro {
    font-size: large;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}

.mobile-container-creation {
  background-color: $one;
  padding-top: 20%;
  height: 100vh;
  color: white;
}

// --------------------
// Style for Home component
.Home {
  p {
    font-size: 1.2em;
  }
}

// --------------------
// Style for Secret component
.Secret {
  .result {
    font-size: 1.2em;
    color: $primary;
  }
}

@import "./css_styles/media.scss";
